*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    background: url(days_gone.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.container button{
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 20px;
    right: 40px;
    width: 80px;
    cursor: pointer;
    animation: playButtonBounce 1s infinite;
}
@keyframes playButtonBounce {
    0%{
        bottom: 20px;
        animation-timing-function: ease-in;
    }
    50%{
        bottom: 0px;
        animation-timing-function: ease-out;
    }
    100%{
        bottom: 20px;
        animation-timing-function: ease-in;
    }
}
.container button img,
.popup-container img{
    width: 100%;
}
.popup-container{
    height: 100vh;
    width: 100vw;
    background-color: rgba(24, 24, 24);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}
.popup-container.active{
    visibility: visible;
    opacity: 1;
}
.popup-container video{
    width: 60%;
}
.popup-container button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    position: absolute;
    right: 30px;
    top: 30px;
}
@media (max-width: 991px) {
        .popup-container video{
            width: 80%;
        }
}