
.container .btn1{
    border: 2px solid rgb(190, 234, 238);
    position: relative;
    overflow: hidden;
}

.btn1::before{
    content: "DOWNLOAD";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(190, 234, 238);
    color: rgb(4, 15, 16);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
.btn1:hover::before{
    transform: translateY(0);
    transition: all 0.5s ease;
}

.btn1-v1::before{
    transform: translateY(-100%);
    
}
.btn1-v2::before{
    transform: translateY(100%);
}
.btn1-v3::before{
    transform: translateX(-100%);
}
.btn1-v4::before{
    transform: translateX(100%);
}