.btn4{
    width: 250px;
    height: 60px;
    outline: none;
    border: none;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: rgb(140, 218, 227);
    color: rgb(239, 250, 251);
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
}
.btn4::before,
.btn4::after{
    content: "";
    width: 15%;
    height: 50%;
    position: absolute;
    transition: all 0.5s ease-in-out;
}
.btn4::before{
    top: -9px;
    left: -9px;
    border-top: 3px solid rgb(140, 218, 227);
    border-left: 3px solid rgb(140, 218, 227);
}
.btn4::after{
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid rgb(140, 218, 227);
    border-right: 3px solid rgb(140, 218, 227);
}

.btn4:hover::before,
.btn4:hover::after{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}